bashlex==0.18
bracex==2.6
build==1.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
cibuildwheel==3.1.3
cmake==4.1.0
colorama==0.4.6
dependency-groups==1.3.1
distro==1.9.0
docopt==0.6.2
filelock==3.19.1
humanize==4.12.3
idna==3.10
ninja==1.13.0
numpy==2.3.2
packaging==25.0
pipreqs==0.4.13
platformdirs==4.3.8
pyelftools==0.32
pyproject_hooks==1.2.0
requests==2.32.5
scikit-build==0.18.1
setuptools==80.9.0
urllib3==2.5.0
wheel==0.45.1
yarg==0.1.10
